/* vietnamese */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#map,
.signature {
    pointer-events: none
}

#preload img,
#top {
    visibility: hidden
}

.expand:focus,
.expand:hover,
.gallery-descr,
footer a:hover {
    text-decoration: none
}

#bullets,
#preload img,
.floor_num,
.gallery-descr {
    position: absolute
}

@font-face {
    font-family: 'FiraGO';
    src: url(../fonts/FiraGo/hinted-FiraGO-Regular.woff2) format('woff2'),
    url(../fonts/FiraGo/hinted-FiraGO-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraGO';
    src: url(../fonts/FiraGo/hinted-FiraGO-Regular.woff2) format('woff2'),
    url(../fonts/FiraGo/hinted-FiraGO-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraGO';
    src: url(../fonts/FiraGo/hinted-FiraGO-Medium.woff2) format('woff2'),
    url(../fonts/FiraGo/hinted-FiraGO-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraGO';
    src: url(../fonts/FiraGo/hinted-FiraGO-Bold.woff2) format('woff2'),
    url(../fonts/FiraGo/hinted-FiraGO-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: BPGNinoMtavruli;
    src: url(../fonts/mtavr/BPGNinoMtavruli.woff) format('woff'), url(../fonts/mtavr/BPGNinoMtavruli.ttf) format('truetype'), url(../fonts/mtavr/BPGNinoMtavruli.svg#BPGNinoMtavruli) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DejaVuSans;
    src: url(../fonts/dejavu/DejaVuSans.eot);
    src: url(../fonts/dejavu/DejaVuSans.woff2) format('woff2'), url(../fonts/dejavu/DejaVuSans.woff) format('woff'), url(../fonts/dejavu/DejaVuSans.ttf) format('truetype'), url(../fonts/dejavu/DejaVuSans.svg#DejaVuSans) format('svg'), url(../fonts/dejavu/DejaVuSans.eot?#iefix) format('embedded-opentype');
    font-weight: 400;
    font-style: normal
}

#mail-status {
    display: block;
    margin-bottom: 15px;
    font-size: 11px
}

.success {
    color: #64AF2B
}

.error {
    color: #D53A3A
}

#preload img {
    width: 1px;
    height: 1px;
    z-index: -1000
}

.center {
    margin: 0 auto
}

.inline {
    display: inline
}

#map {
    margin-top: 40px;
    width: 100%;
    height: 100%
}

.form-control {
    border-radius: 20px;
    border-color: #ddd;
    box-shadow: none;
    padding: 20px
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    max-height: 250px
}

.contact label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px
}

header {
    color: #eee;
    -moz-transition: 2s all ease;
    -webkit-transition: 2s all ease;
    -o-transition: 2s all ease;
    -ms-transition: 2s all ease;
    transition: 2s all ease
}

header .btn-dark,
section .btn-dark {
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 20px 7px
}

.about {
    background-color: #f2f2f2
}

.about hr {
    border-color: #ddd!important
}

.about-content {
    background-color: #fff;
    padding: 40px
}

.about-txt {
    margin-top: 20px;
    line-height: 22px
}

.thumbnail {
    border-radius: 0;
    border-color: #eee;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px
}

.news-thumb {
    margin-top: 30px;
    border: 7px solid #f2f2f2
}

.ceo {
    max-width: 150px;
    border-radius: 50%;
    border: 7px solid #f2f2f2;
    padding: 10px;
    background-color: #f6c507
}

.news-date {
    font-weight: 700;
    font-size: 12px;
    color: #336DB8;
    font-family: DejaVuSans;
    margin-bottom: 10px;
    margin-top: -10px;
    display: block
}

.expand,
.expand:focus,
.expand:hover {
    font-size: 18px;
    margin-bottom: 10px;
    display: block
}

.signature {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.gallery {
    background: #222;
    background: -webkit-radial-gradient(#444, #222, #000);
    background: -o-radial-gradient(#444, #222, #000);
    background: -moz-radial-gradient(#444, #222, #000);
    background: radial-gradient(#444, #222, #000);
    color: #eee
}

.gallery img {
    box-shadow: -2px 0 10px rgba(0, 0, 0, .6)
}

footer {
    background-color: #000
}

.ft-wkr {
    display: block;
    height: 300px;
    background-color: #F2F2F2
}

footer a:hover {
    color: #fff
}

footer a {
    color: #F6C606
}

#bullets {
    right: 20px;
    top: 47%;
    list-style-type: none;
    padding: 0
}

#bullets li {
    margin: 3px
}

#bullets li a {
    display: block;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 50%
}

#bullets li a.active {
    background-color: #eee
}

#text-small {
    max-width: 500px;
    margin: 0 auto
}

#intro {
    line-height: 59px
}

#text-dynamic {
    padding: 5px 20px 5px 5px;
    background-color: rgba(0, 0, 0, .5)
}

.vertical-line {
    border: 1px solid #eee;
    border-left: none;
    width: 1px!important;
    height: 50px;
    margin: 20px auto 5px;
    display: block
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    background-color: #111;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1), 0 5px #F6C606
}

.dropdown-menu a {
    color: #aaa!important
}

.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
    color: #eee!important;
    background-color: #000!important
}

.navbar-brand {
    padding-top: 10px
}

.nav-social {
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block
}

.nav-social li {
    display: inline-block;
    margin-left: 3px
}

.list-social {
    padding: 3px
}

.list-social li {
    display: block;
    padding: 3px
}

.list-no-bullets {
    list-style: none;
    padding: 3px
}

.navbar-toggle {
    border-radius: 0;
    border: none;
    margin-top: 10px;
    margin-right: 10px
}

.thumb-descr {
    color: #888;
    margin-top: 0;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, .7)
}

.gallery-descr {
    margin-top: -50px;
    background-color: rgba(246, 198, 6, .7);
    display: block;
    padding: 10px;
    width: auto;
    color: #fff;
    font-family: BPGNinoMtavruli;
    -moz-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -ms-transition: .3s all ease;
    transition: .3s all ease
}

.complete {
    background-color: rgba(57, 164, 109, .7)
}

.gallery-descr:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-top: -10px;
    margin-left: 10px;
    transform: rotateY(180deg);
    border-width: 20px 10px;
    border-style: solid;
    border-color: rgba(246, 198, 6, .7) rgba(246, 198, 6, .7) rgba(246, 198, 6, .7) transparent
}

.complete:after {
    border-color: rgba(57, 164, 109, .7) rgba(57, 164, 109, .7) rgba(57, 164, 109, .7) transparent
}

.portfolio-item img {
    -moz-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -ms-transition: .3s all ease;
    transition: .3s all ease
}

.portfolio-item:hover img {
    opacity: .7
}

.gallery-descr span {
    text-shadow: 1px 1px 20px rgba(0, 0, 0, .7)
}

.soc-share {
    padding: 0;
    font-family: arial;
    cursor: pointer
}

.soc-share li {
    list-style: none;
    padding: 0;
    display: inline-block
}

a.social {
    font-family: arial;
    color: #222;
    padding: 5px 10px;
    border: 1px solid #E9EEF3;
    background-color: #fff;
    box-shadow: -1px 1px 1px #E9EEF3;
    border-radius: 0
}

.nav-stacked li,
.nav-stacked li a {
    border: none!important
}

.btn-fb i {
    color: #306199
}

.btn-twt i {
    color: #26C4F1
}

.btn-ggl i {
    color: #E93F2E
}

.floor_num,
.nav-stacked li a:hover {
    color: #fff
}

a.social:hover {
    background-color: #E9EEF3
}

.nav-stacked {
    background-color: #fff
}

.nav-stacked li a:hover,
.nav-stacked li.active a {
    background-color: #f6c606!important
}

.nav-stacked li a {
    border-radius: 0!important
}

.about-nav {
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee
}

.material {
    width: 100%
}

.expand:before {
    background-image: url(../img/icons/question.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 8px
}

.expandable {
    margin-bottom: 20px;
    display: none
}

.block,
.question-cont {
    display: block
}

.floor_num {
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 22px;
    padding: 3px 10px
}

.modal-floor-img {
    margin: 0 auto
}

.modal,
.modal-content,
.modal-dialog {
    border-radius: 0
}

.modal .btn {
    border-radius: 20px;
    outline: 0;
    font-family: BPGNinoMtavruli
}

.select-floor select {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0
}

#floor_prop,
#floor_render {
    margin-bottom: 10px
}

.small-info {
    margin-top: 20px;
    margin-bottom: 20px!important;
    text-align: center;
    color: #61A4BF;
    display: none
}

.small-info:before {
    content: "\f05a";
    margin-right: 5px;
    font-family: FontAwesome
}

/* @media screen and (min-width:768px) {
    .navbar-inverse {
        border: none;
        height: 10px
    }
} */

.navbar-inverse {
    border: none;
    height: 10px
}

@media screen and (max-width:768px) {
    .thumbnail {
        float: none;
        margin: 0 auto 10px
    }
    .signature {
        display: none
    }
    .small-info {
        display: block
    }
}

@media screen and (max-width:480px) {
    #bullets {
        display: none
    }
    #intro {
        font-size: 18px;
        line-height: 31px
    }
    .ceo {
        margin: 0 auto
    }
    .gallery-descr {
        padding: 3px;
        font-size: 12px;
        margin-top: -30px
    }
    .gallery-descr:after {
        border: none
    }
    .thumb-descr {
        font-size: 10px
    }
}

@media screen and (max-width:416px) {
    .gallery-descr {
        padding: 3px;
        font-size: 10px;
        margin-top: -25px
    }
    .thumb-descr {
        display: none
    }
}

.btn,
.gallery-descr,
.nav,
h1,
h2,
h3,
label {
    text-transform: uppercase!important;
    font-weight: 400;
    vertical-align: bottom;
}

/* Development (Remaster) */

/* Navigation */
nav{
    width:100%;
    height:90px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #efefef;
    padding: 20px 0;
    position: relative;
    z-index: 6;
    text-align: right;
}
.navContainer, .container-my{
    margin: 0 20px;
}
.mainMenu{
    width: 0;
    position: fixed;
    z-index: 5;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #1a2b3e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
}
.mainMenu a:first-of-type{
    margin-top: 30px;
}
.mainMenu a:last-of-type{
    margin-bottom: 20px;
}
.mainMenu a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: all 0.1s ease-in-out;
    position: relative;
    opacity: 0;
    text-align: center;
    margin-bottom: 40px;
}
.mainMenu a:hover{
    transition: all 0.1s ease-in-out;
    color: #f1f1f1;
}
/* Custom burger */
.burger-custom{
    width: 47px;
    height: 47px;
    position: relative;
}
.burger-custom > div {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #1a2b3e;
    height: 10px;
    width: 34px;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
}
.burger-custom > div::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(+50%);
    background-color: #1a2b3e;
    height: 10px;
    width: 26px;
    transition: inherit;
    border-radius: 2px;
}

.burger-custom > div::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-160%);
    background-color: #1a2b3e;
    height: 10px;
    width: 47px;
    border-radius: 2px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    border: none;
    float: right;
    background-color: #efefef;
}
.openbtn:focus,
.openbtn:focus>.burger-custom>div {
    outline: none;
}
.openbtn:hover > .burger-custom > div,
.openbtn:hover > .burger-custom > div::before,
.openbtn:hover > .burger-custom > div::after {
    width: 47px;
}
.openMenu.burger-custom{
    margin-top: 0;
}
/* /Custom burger */

/* Added class on toggle */
.openMenu{
    width: 100%!important;
}
.openMenu.burger-custom{
    width: 47px!important;
}
.openMenu.burger-custom > div::after{
    opacity: 0;
    transition: all 0.1s ease-in-out;
}
.openMenu.burger-custom > div::before{
    transform: translateY(0);
    transform: rotate(90deg);
    transition: all 0.2s ease-in-out;
}
.openMenu.burger-custom > div{
    width: 47px;
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}
.openMenu > a {
    opacity: 1;
    transition: all 1s ease-in-out;
}
.mainMenu > .hideWithOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #111111;
    opacity: 1;
    transition: all 0.08s ease-in-out;
    z-index: 2;
}
.openMenu > .hideWithOverlay{
    opacity: 0;
    display: none;
    transition: all 1.2s ease-in-out;
}
/* /Added class on toggle */
.mobile-lang{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    height: 100px;
}
.mobile-lang > li{
    margin: 0 5px;
    display: inline-block;
}
.mobile-lang > li > a{
    opacity: 1;
}
.socials{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.socials-side{
    opacity: 0;
    transition: all 1.5s ease-in-out;
    position: relative;
}
.socials-side >  li > a >img{
    margin: 0;
}
.mobile-lang > li{
    cursor: pointer;
}
.openMenu>.socials-side{
    opacity: 1;
    transition: all 1.5s ease-in-out
}
.socials.hideOnMobile{
    display: none;
}
.socials > li {
    display: inline-block;
}
.socials > li > a{
    width: 50px;
    height: 50px;
    opacity: 1;
}
.modalsMob{
    display: inline-block;
}
.modalsDesk{
    display: none;
}
.modalsMob>button,
.modalsDesk>button{
    border-radius: 10px;
    background-color: #ffb300;
    color: white;
    font-size: 20px;
    padding: 14px 20px;
    border: none;
    height: 47px;
}
.modalsMob>button{
    margin-right: 20px;
}
.modalsDesk>button{
    margin-right: 40px;
}
.modalsMob>button.plancall:focus,
.modalsDesk>button.plancall:focus{
    outline: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffa200;
}
.modalsMob>button.plancall:hover,
.modalsDesk>button.plancall:hover{
    background-color: #ffa200;
}
.plancall>p,.showroom>p{
    font-size: 20px;
    display: inline-block;
    margin: 0;
    line-height: 0.9;

    vertical-align: bottom;
}
.modalsMob>button.showroom,
.modalsDesk>button.showroom{
    background-color: #1a2b3e;
}
.modalsMob>button.showroom:focus,
.modalsDesk>button.showroom:focus{
    outline: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: #131f2d;
}
.modalsMob>button.showroom:hover,
.modalsDesk>button.showroom:hover{
    background-color: #131f2d;
}
.dropdown{
    display: none;
    background-color: none;
}
.mainMenu > .link:hover{
    transition: all 0.2s ease-in-out
}
.openMenu>.socials-side{
    padding: 0 60px;
}
.openMenu>.socials-side > li{
    margin: 0 10px;
}
.brand-logo > a > img{
    display: inline-block;
    float: left;
    height: 60px;
    width: auto;
}
.brand-logo-Desk{
    display: none;    
}
.brand-logo-mobile{
    display: block;
}
.modalsMob > button > img{
    margin-top: -15px;
}
.brand-logo-mobile > a > img{
    height: 47px;
}
.social-icon > img{
    height: 50px;
    width: 50px;
    margin: 7.5px 0;
}
.plancall > img,.showroom > img{
    width: 26px;
    height: 26px;
}
@media (min-width: 1280px) {
    .brand-logo-Desk{
        display: block;
    }
    .brand-logo-mobile{
        display: none;
    }
}
@media (min-width: 1030px) {
    .socials.hideOnMobile{
        display: inline-block;
        margin-right: 15px;
    }
}
@media (min-width: 785px){
    .modalsMob>button,
    .modalsDesk>button{
        border-radius: 10px;
        background-color: #ffb300;
        color: white;
        font-size: 20px;
        padding: 15px 25px;
        border: none;
        height: 65px;
    }
    .modalsMob>button>img,
    .modalsDesk>button>img{
        margin-right: 16px;
    }
    nav{
        height: 100px;
    }
    .openMenu{
        width: 550px!important;
    }
    .navContainer, .container-my{
        margin: 0 25px;
    }
    .mainMenu{
        overflow: hidden;
    }
    .mainMenu a{
        font-size: 30px;
    }
    .burger-custom{
        margin-top: 8px;
    }
    .socials{
        display: block;
    }
    .modalsMob{
        display: none;
    }
    .modalsDesk{
        display: inline-block;
    }
    .modalsMob>button:first-of-type,
    .modalsDesk>button:first-of-type{
        margin-right: 10px;
    }
    .modalsMob>button,
    .modalsDesk>button{
        border-radius: 10px;
        color: white;
        font-size: 16px;
        padding: 15px 15px;
        border: none;
        height: 65px;
    }
    .brand-logo-Desk > a > img,
    .brand-logo-mobile > a > img{
        height: 60px;
        margin: 3.5px 0;
    }
}
@media (min-width: 890px){
    .modalsMob>button:first-of-type,
    .modalsDesk>button:first-of-type{
        margin-right: 40px;
    }
    .modalsDesk-rus>button:first-of-type {
        margin-right: 10px;
    }
    .modalsDesk>button:last-of-type{
        margin-right: 0px;
    }
    .modalsMob>button,
    .modalsDesk>button{
        border-radius: 10px;
        color: white;
        font-size: 20px;
        padding: 15px 25px;
        border: none;
        height: 65px;
    }
}
@media (min-width:1280px){
    .dropdown{
        display: inline-block;
        background-color: none;
        margin: 0 15px;
        transform: translateY(25%);
    }
    .dropdown>button{
        background-color: transparent;
        color: #1a2b3e;
        border: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .dropdown>button:focus,
    .dropdown>button:hover,
    .dropdown>button:active
    {
        background-color: transparent!important;
        color: #1a2b3e!important;
        border: none!important;
        box-shadow: none!important;
    }
    .mobile-lang{
        display: none;
    }
    .dropdown-menu{
        position: absolute;
        will-change: transform;
        transform: translate3d(0px, 0px, 0px);
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 50px;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        box-shadow: none!important;
        text-align: center;
    }
    .dropdown-menu>a{
        background-color: transparent;
        color: #1a2b3e!important;
        border: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        padding: .25rem 0.5rem;
        max-width: 40px;
        margin: auto;
    }
    .dropdown.open>.dropdown-menu{
        display: block;
    }
    .dropdown.open.dropdown-toggle{
        transition: all 0.3s ease-in-out;
        transform: rotate(0deg);
    }
    .dropdown.open>.dropdown-toggle::after{
        transition: all 0.3s ease-in-out;
        transform: rotate(180deg);
    }
    .modalsMob>button:first-of-type,
    .modalsDesk>button:first-of-type{
        margin-right: 15px;
    }
}
@media (min-width: 1310px){
    .navContainer, .container-my{
        margin: 0 20px;
    }
    .burger-custom{
        margin-top: 10px;
    }
    .mainMenu a:first-of-type{
        margin-top: 30px;
    }
    .mainMenu a{
        margin-bottom: 60px;
    }
    .mainMenu a:first-of-type{
        margin-top: 30px;
    }
    .mainMenu a:last-of-type{
        margin-bottom: 90px;
    }
    .socials > li{
        margin-right: 10px;
    }
    .socials.hideOnMobile{
        margin-right: 110px;
    }
    .rus-socials{
        margin-right: 30px;
    }

    .modalsMob>button:first-of-type,
    .modalsDesk>button:first-of-type{
        margin-right: 10px;
    }
}
@media (min-width: 1400px) {
    .rus-socials{
        margin-right: 110px;
    }
}
@media (min-width: 1600px) {
    .navContainer, .container-my{
        margin: 0 180px;
    }
}
.dropdown > button >img{
    transform: translateY(-23%)  translateX(5px);
    transition: all 0.2s ease-in-out;
}
.dropdown.open > button > img{
    transform: translateY(-23%) translateX(5px)rotate(-90deg);
}
/* /Navigation */

/* Modals */
.modalo {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 130px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalo-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 547px;
    position: relative;
    border-radius: 8px;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    right: 15px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modalo-content > .contact-us-call{
    padding: 0;
    min-height: auto;
}
.contact-us-call>.under-button{
    height: 50px;
    width: 100px;
}
.modalo-content > .contact-us-call > button{
    right: 0;
    font-size: 16px;
    padding: 10px 15px;
}
.modalo-content > .contact-us-call > button:hover,.contact-us-call > button:hover{
    background-color: #ffa200;
}
.modalo-content > .contact-us-call > button:focus,.contact-us-call > button:focus{
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffa200;
    border: none;
}
.contact-us-showroom > button{
    background-color: #1a2b3e!important;
}
.contact-us-showroom > button:hover{
    background-color: #131f2d!important;
}
.contact-us-showroom > button:focus{
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: #131f2d!important;
    border: none;
}
@media (min-width: 768px){
    .modalo-content > .contact-us-call{
        max-width: 100%;
        margin: auto;
    }
}

@media (max-width: 310px) {
    .modalsMob{
        display: none;
    }
}
@media (max-width: 600px) {
    .modalo-content{
        width: 90%;
        text-align: center;
    }
    .modalo-content > .contact-us-call > button{
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}
/* /Modals*/

/* Headers */
h2.header-y{
    font-size: 20px!important;
    font-weight: bold;
    text-decoration: underline #ffb300;
    text-align: center;
    margin-top: 30px!important;
    margin-bottom: 30px!important;
}
.about-nav{
    font-size: 20px;
}
.hide-on-mob{
    display: none;
}
@media (min-width: 1280px) {
    h2.header-y{
        font-size: 30px!important;
    }
    h3.header-y{
        text-align: left;
    }
    .hide-on-mob{
        display: block;
    }
}
@media (min-width: 1920px) {
    h2.header-y{
        font-size: 40px!important;
        margin-top: 80px!important;
        margin-bottom: 80px!important;
        text-align: left;
    }
}
.header-y{
    text-decoration: underline #ffb300;
}
h3.header-y{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline #ffb300;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}
h3.header-b{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline rgb(13,207,218);
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}
/* /Headers*/

/* About */
#about{
    min-height: 90vh;
}
.about-nav {
    background-color: transparent;
    padding: 0;
}
.nav-stacked{
    background-color: transparent;
}
.nav-stacked > li {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: #ffffff;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: bold;
}
.nav-stacked > li > a{
    padding: 20px 32px;
    padding-left: 32px;
    color: #1a2b3e;
}
.about-content{
    font-size: 20px;
}
@media (min-width: 768px) {
    .about-nav{
        padding-right: 10px;
    }
}
@media (min-width: 1280px) {
    .about-content{
        font-size: 18px;
    }
}
@media (min-width: 1920px) {
    .about-content{
        font-size: 18px;
    }
}
/* /About */

/* Contact */
.contact-us{
    overflow-x: hidden;
    background-color: #f2f2f2;
}
h2.contact-us-header{
    margin-top: 45px;
    margin-bottom: 35px;
}
.contact-us-form > div > input{
    border: none;
    border-bottom: 1px solid #131f2d;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    margin-bottom: 30px;
}
.contact-us-form > div > input:focus{
    outline: none;
}
.contact-us-form > div > textarea{
    font-size: 20px;
    background-color: transparent;
}
.contact-us-form > div > textarea:focus{
    border: 1px solid #ffb300;
}
.contact-us-info{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid #ffb300;
    line-height: 2;
    width: 90%;
    margin: auto;
    padding-bottom: 45px;
    margin-bottom: 30px;
}
.contact-us-form{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 90px;
}
.contact-us-form>button>img{
    height: 16px;
    margin-top: -4px;
    margin-left: 4px;
}
.contact-us-form>button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline #ffb300;
}
.contact-us-call{
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 25px 40px ;
    min-height: 300px;
    margin-bottom: 40px;
    position: relative;
}
.contact-us-showroom{
    min-height: 350px;
}
.contact-us-call>div>input{
    margin-bottom: 30px;
    font-size: 16px;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #1a2b3e;
    width: 100%;
}
.contact-us-call>button{
    position: absolute;
    border-radius: 10px;
    background-color: #ffb300;
    color: #ffffff;
    border: none;
    text-underline: none;
    padding: 8px 13px;
    bottom: 0;
    right: 0;
}
.contact-us-call>button>img{
    margin-left: 5px;
    margin-top: -5px;
}
@media (min-width: 768px) {
    .modalo-content>.contact-us-showroom{
        min-height: auto;
    }
    .map{
        height: 620px;
    }

    h2.contact-us-header{
        margin-top: 65px;
        margin-bottom: 50px;
        margin-left: 20px;
    }
    .contact-us-info{
        margin-left: 20px;
        max-width: 450px;
        margin-bottom: 50px;
    }
    .contact-us-form{
        margin-left: 20px;
        max-width: 450px;
    }

    .contact-us-form > div > input{
        margin-bottom: 35px;
    }
    .contact-us-form > button{
        float: right;
    }
    .contact-us-call{
        margin-left: 20px;
        max-width: 460px;
        text-align: left;
    }

    .contact-us-call>button{
        float: right;
    }
}
@media (min-width: 1920px) {
    .map{
        height: 940px;
    }
    h2.contact-us-header{
        margin-top: 75px;
        margin-bottom: 60px;
        margin-left: 180px;
    }
    .contact-us-form{
        margin-left: 180px;
        width: 550px;
    }
    .contact-us-info{
        margin-left: 180px;
        width: 550px;
        padding-bottom: 20px;
        margin-bottom: 50px;
    }
    .contact-us-form > div > input{
        margin-bottom: 35px;
    }
    .contact-us-call{
        margin-left: 180px;
        max-width: 560px;
    }

}

.modal-backdrop{z-index: 3}
/* /Contact */

/* Gallery */
#gallery{
    background: none;
    background-color: #f2f2f2;
    color: #1a2b3e;
    min-height: 90vh;
}
.gallery > div > div > div > .header-y{
    font-size: 26px;
    margin-bottom: 0;
}
.gallery-link{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 310px;
    height: 230px;
    max-width: 100%;
    z-index: 2;
    position: absolute;
}
.gallery-descr:after{
    display: none;
}
.gallery img{
    box-shadow: none;
}
.portfolio-item{
    padding: 5px;
}
.gallery-descr{
    margin: 0;
    transform: translateY(-50%) translateX(-10px);
    padding: 10px 40px;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #1a2b3e;
    z-index: 3;
}
.on-hov{
    z-index: 1;
    top: 0;
}
.header-y.videos{
    margin-top:80px;
    margin-left: 15px;
}
.portfolio-item{
    margin-bottom:  60px;
}
.ekko-lightbox-nav-overlay{
    text-align: center;
}
.ekko-lightbox-nav-overlay>a{
    text-decoration: none;
}
.albummodal{
    padding: 15px;
}

.gallery-descr.proj{
    transform: translateY(-100%) translateX(-10px);;
}

div.thumb-descr{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #ffffff;
    font-size: 14px;
    color: #131f2d;
    z-index: 2;
}
.gallery-descr{
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    width: 100%;
}
@media (max-height: 576px) {
    .gallery-link{
        width: 100%;
        max-width: 95%;
    }
    .on-hov{
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .on-hov{
        height: 220px;
    }
}
@media (min-width: 768px) {
    .gallery > div > div > div >  .header-y,
    .about > div > div > div >  .header-y{
        font-size: 30px;
        margin-bottom: 0;
    }
    .gallery-descr{
        margin: 0;
        left: 0;
        width: auto;
        transform: translateY(-50%) translateX(-10px);
        padding: 10px 40px;
        border-radius: 6px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
        background-color: #1a2b3e;
    }
    .on-hov{
        width: 280px;
        height: 185px;
        background-color: #ffb300;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        transform: translateY(12%);
        transition: all 0.1s ease-in-out;
        display: none;
    }
    .gallery-link:hover ~ .on-hov,
    .gallery-descr:hover ~ .on-hov{
        display: block;
    }
    .gallery-link{
        width: 335px;
        height: 220px;
    }
    .about-txt-infra{
        padding: 40px 30px;
        background-color: #ffffff;
        margin-top: 40px;
    }
    .about-txt-infra>h3{
        margin: 0;
        text-decoration: underline #ffb300;
        font-weight: bold;
    }
}

@media (min-width: 995px) {
    .gallery-link{
        width: 285px;
        height: 185px;
    }
}
@media (min-width: 1200px) {
    .gallery-link{
        width: 350px;
        height: 230px;
    }
}
@media (min-width: 1280px) {
    .gallery >div > div > div >  .header-y ,
    .about >div > div > div >  .header-y
    {
        font-size: 34px;
        margin-bottom: 0;
    }
    .on-hov{
        height: 225px;
    }
}
@media (min-width: 1920px) {
    .on-hov{
        height: 227px;
    }
}
/* /Gallery */

.about-contento{
    background-color: transparent;
}
.news-content{
    font-size: 14px;
    color: #131f2d;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 25px;
    margin-top: 35px;
}
.news-date{
    font-size: 18px;
    color: #ffa200;
}
.news-content>h4{
    font-weight: bold;
    font-size: 20px;
    color: #131f2d;
}
/* Landing */
.landing{


}
.row{
    margin:0
}
.main-landing{
    height: 40vh;
    padding: 0;

    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 20px;
}
.main-landing>a{
    width: 100%;
    height: 100%;
}
.landing-photo{
    width: 100%;
    height: 40vh;
    padding: 0;

    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-photo-thumbnail{
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: 0;

    border-radius: 6px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #1a2b3e;

    color: white;
    font-size: 14px;

    transform: translateY(200%);
}
@media (min-width: 518px) and (max-width: 992px){
    .landing-photo-thumbnail{
        transform: translateY(220%);
    }
}
.landing-photo-thumbnail > span{
    font-size: 18px;
    display: block;
    font-weight: bold;
}

.gallery-landing{
    height: 12vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.landing-gallery-photo{
    width: 80px;
    height: 50px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hide-on-mobile{
    display: block;
    height: 85px;
    width: 100%;
}

.news-landing{
    width: 100%;
    min-height: 80vh;
    padding: 5px;
    text-align: center;
}
.landing-news-photo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 340px;
    height: 180px;
    margin: auto;
    margin-bottom: 10px;
}
.landing-news-title{
    font-size: 18px;
    font-weight: bold;
    color: #131f2d;
}
.landing-news-body{
    font-size: 16px;
    color: #434242;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}
a.header-y{
    font-size: 24px;
    text-align: center;
    color: #1a2b3e;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline #ffb300;

}
.landing-gallery-photo{
    margin: 0;
}
@media (min-width: 768px) {
    .landing-gallery-photo {
        width: 100px;
        height: 50px;
    }
}
@media (min-width: 992px) {
    .landing {
        padding-top: 30px;
    }

    .landing-photo-thumbnail {
        width: auto;
        padding: 20px 40px;
        transform: translateX(-10px) translateY(10%);z-index: 3;
    }

    .landing-photo {
        height: 430px;
    }
    .gallery-landing {
        height: 430px;
    }

    .gallery-landing > a {
        height: 90px;
    }

    .gallery-landing > a:last-of-type {
        margin-bottom: -22px!important;
    }

    .news-landing {
        min-height: auto;
        padding: 0;
    }

    .landing-gallery-photo {
        width: 230px;
        height: 90px;
        margin-bottom: 24px!important;
        float: right;
    }

    .landing-news-body {
        width: 100%;
    }

    .landing-news-photo {
        height: 120px;
        width: 100%;
        max-width: 190px;
    }

    .landing-newsbot {
        height: 100%;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        background-color: #ffffff;
        padding: 5px;
    }

    a.header-y {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
        color: #1a2b3e;
        text-decoration: underline #ffb300;

    }
    .hide-on-mobile{
        height: 48px;
    }
}
@media (min-width: 1388px) {
    .landing {
        padding: 100px;
        padding-top: 15px;
        padding-bottom: 18px;
        overflow: hidden;
    }
    .landing-news-photo{
        height: 140px;
        width: 230px;
        max-width: 100%;
        margin-bottom: 0;
    }
    .gallery-landing{
        height: 620px;
    }
    .landing-photo{
        height: 640px;
    }
    .landing-gallery-photo{
        height: 130px;
        width: 280px;
        margin-top: 18px!important;
    }
    .landing-newsbot{
        height: 140px;
    }

    .gallery-landing > div > .hui:last-of-type > a > div{
        margin-bottom: 0!important;
    }

    .gallery-landing > div > .hui:first-of-type > a > div{
        margin-top: 0!important;
        margin-bottom: 18px!important;
    }
}
@media (min-width: 1920px) {

}
/* /Landing */

/* Project Page */
.about-project>div{
    font-size: 16px;
    color: #000000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    padding: 40px 20px;
    position: relative;
}
.about-project > .about-project-header{
    padding: 25px 100px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #efefef;
    font-weight: bold;
    margin-bottom: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
}
.about-project > div > a{
    border-radius: 8px;
    border: solid 3px #ffc336;
    padding: 15px 35px;
    text-decoration: none;
    margin: auto;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    margin-top: 20px;
    color: #1e1e1e;
}
.about-project > div > a:hover{
    color: #ffb300;
}
.about-project > div > p{
    margin-bottom: 40px;
}
.about-contento{
    padding: 0;
    text-align: center;
}
.about-project{
    transform: translateY(200px)scale(1.2);
    font-size: 18px;
}
.about-project > .about-project-header{
    padding: 20px 40px;
    font-size: 18px;
}
.about-project>div>a{
    padding: 10px;
}

.about-project>div>ul:last-of-type{
    margin-bottom: 80px;
}
.about-project-header{
    font-size: 24px;
    color: #131f2d;
}
@media (min-width: 768px) {

    .about-project > div > a{
        border-radius: 8px;
        border: solid 3px #ffc336;
        padding: 15px 35px;
        text-decoration: none;
        margin: auto;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
        margin-top: 20px;
        color: #1e1e1e;
    }
    .about-project{
        transform: translateX(-40px);
    }
    .about-project>div{
        font-size: 18px;
        color: #000000;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
        background-color: #ffffff;
        padding: 40px 20px;
        position: relative;
    }
    .about-project>div>ul:last-of-type{
        margin-bottom: 80px;
    }
    .about-project > .about-project-header{
        padding: 25px 100px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: #efefef;
        font-weight: bold;
        margin-bottom: 0;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
        font-size: 24px;
    }
    .about-content-infra{
        padding: 0px;

    }
}
@media (min-width: 1280px) {
    .about-project-header {
        font-size: 24px;
    }
}
/* /Project Page */

/* Appartament page */
.find-appartament{

}
.find-appartament>h3{
    background-color: #1a2b3e;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 22px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 0;
}
.find-appartament>.find-parameters{
    font-size: 16px;
    color: #000000;
    padding: 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}
.find-parameters > button{
    border-radius: 8px;
    border: solid 3px #1a2b3e;
    padding: 5px 40px;
    background-color: white;
    margin: auto;
    margin-top: 10px    ;
}
.find-parameters > button:hover{
    background-color: #1a2b3e;
    color: white;
}
.irs--flat .irs-bar{
    background-color: #ffb300!important;
}
.irs--flat .irs-handle>i:first-child{
    background-color: #dbdbdb!important;
    width: 8px!important;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single:before{
    color: #272727!important;
    background-color: transparent!important;
    border-top-color: transparent!important;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
    border-top-color: transparent!important;
}
.irs-with-grid .irs-grid{
    display: none!important;
}
.irs--flat .irs-line {
    top: 25px !important;
    height: 6px !important;
    transform: translateY(50%) !important;
    background-color: #e1e4e9 !important;
    border-radius: 4px !important;
}
.irs--flat .irs-bar{
    height: 6px !important;
    transform: translateY(50%) !important;
}
.mapimage{
    background-size: contain!important;
    background-repeat: no-repeat!important;
}
.ap-info{
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.appartment-header{
    padding: 30px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}
.ap-info>li{
    display: inline-block;
}
.return{
    width: 79px;
    height: 79px;
    background-color: #1a2b3e;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    padding: 24px;
}
.free-apps{
    padding: 20px 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}
.free-apps > p{
    width: 70%;
    display: inline-block;
    padding: 10px;
}

.free-apps > p:first-of-type{
    border-right: 1px solid #1a2b3e;
    width: 30%;
}
.free-apps > p > span{
    font-size: 50px;
    color: #ffc336;
}
.return:hover{
    background-color: #ffb300;
}
#apartments{
    padding: 40px;
}
.appartament-explore>a>img{
    width: 100% !important;
    height: auto;
}
.appartament-explore{
    margin: 20px 0;
}
.appartament-explore>a{
    width: 100%;
}
.appartament-explore>div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ffffff;
    padding: 15px;
}
.appartament-explore>div>p{
    width: 40%;
    display: inline-block;
    font-weight: bold;
}

@media (min-width: 992px) {
    .appartament-explore>a>img {
        max-height: 225px!important;
    }
}
@media (max-width: 500px) {
    .about-content-project{
        padding: 0;
        margin-bottom: 10px;
    }
    .about-project>div{
        padding: 20px 10px;
    }
}
area {
    cursor: pointer;
}
#floor-wrap *{
    height: 100%;
    max-height: 100%;
}
.hidden-floor {
   opacity: 0;
}

.hidden-floor *{
    opacity: 0;
}
/* /Appartament page*/
#showRoomModal > .modalo-content > .close{
    color: #1a2b3e;
    opacity: 1;
}

#planCallModal > .modalo-content > .close{
    opacity: 1;
    color: #ffc336;
}

#showRoomModal > .modalo-content > .close:hover{
    opacity: 0.4;
}

#planCallModal > .modalo-content > .close:hover{
    opacity: 0.4;
}
